@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
  
html, body {
    height: 100%;
}
  
.app-container-home {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-home .header-title-home {
    background-color: #fce6e6;
    width: 100%;
    position: fixed;
    padding: 10px 0;
    font-size: 18px;
    color: #51082a;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1000;
    
}
  
.main-section-home {
    position: relative;
    flex-grow: 1;
    margin-top: 40px;
    padding-bottom: 20px;
}
  
.image-overlay-home {
    position: relative;
    background-image: url('../../assets/bg.png'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
  
.text-overlay-home {
    text-align: left;
    color: #ead8d9;
}
  
.studio-title-home {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: -60px;
    font-family: "Playwrite DE Grund", cursive;
}
  
.studio-subtitle-home {
    font-size: 100px;
    margin-top: 20px;
    font-family: "Playwrite DE Grund", cursive;
}
  
.appointment-button-home {
    padding: 20px 40px;
    background-color: #ead8d9;
    color: #51082a;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end; 
    margin-top: 100px; 
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
}
  
.appointment-button-home:hover {
    background-color: #fbccce;
}
  
  
footer {
    background-color: #fce6e6;
    color: #51082a;
    padding: 8px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fixar o footer */
    bottom: 0;
    left: 0;
    z-index: 1000;
}
  