.app-container-agendamento {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}

.header {
  background-color: #fce6e6;
  padding: 16px;
}

.header-title {
  color: #51082a;
  font-size: 36px;
  font-family: 'Arial', sans-serif
}

.studio-title, .studio-subtitle {
  font-family: 'Arial', sans-serif;
}

.title-agendamento{
  color: #51082a;
  padding: 20px;
}


.appointment-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #670a36;
  color: white;
  border: none;
  cursor: pointer;
}

.appointment-list {
  list-style-type: none;
}

.form-container {
  padding: 20px;
  background-color: #fce6e6;
  border-radius: 10px;
  width: 100%;
  max-width: 600px; 
  margin-top: 50px; 
}

form input, form select {
  border-radius: 10px;
  border: none;
  display: block;
  background-color: #f7dae4;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

.submit-button {
  padding: 10px 30px;
  background-color: #d7618a;
  color: #fce1ed;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; 
  margin-top: 40px; 
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
}

.submit-button:hover {
  background-color: #e96b97;
}

.appointment-list ul {
  margin-top: 20px;
  list-style-type: none;
  color: #51082a;
}

.appointment-list h3 {
  color:#51082a
}

.button-delete {
  background-color: #fce6e6;
  border: none;
  margin-left: 10px;
  transform: translateY(6px);
  color: #51082a;
  cursor: pointer;
  padding-top: 10px;
}

.app-container-agendamento {
  background: url('../../assets/fundo-spa.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}

footer {
  background-color: #fce6e6;
  color: #51082a;
  padding: 8px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  font-family: 'Arial', sans-serif;
}
